# Compiled schemas
schemas/gschemas.compiled

# ZIP packages
*.zip

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node/NPM
node_modules/
package-lock.json

# Build directory
build/
